@import "src/styles/variables";
.box {
  display: flex;
  width: min-content;

  .item {
    display: block;
    padding: 14px 16px;
    margin-right: 9px;
    background: #F9F9F9;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: $transitionAll;
    cursor: pointer;
    &:hover {
      background: #282828;
      color: #fff;
    }
  }
  .activeItem {
    background: #282828;
    color: #fff;
  }
}

/* 992-1200 */
@media screen and (max-width: 1200px) {
  .box {
    .item {
      padding: 10px 12px;
      margin-right: 7px;
      font-size: 14px;
      background: #f1f1f1;
    }
    .activeItem {
      background: #282828;
      color: #fff;
    }
  }

}

/* 768-992 */
@media screen and (max-width: 992px) {
  .box {
    .item {
      padding: 6px 8px;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}

/* 320-576 */
@media screen and (max-width: 576px) {
  .box {
    width: 90%;
    margin: 40px auto 0;
    flex-wrap: wrap;
    .item {
      padding: 8px 10px;
      margin-bottom: 5px;
    }
  }
}
