.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  z-index: 10000;
  .modal {
    display: block;
    width: min-content;
    padding: 30px;
    background: #fff;
    border-radius: 30px;
  }
  transition: all 0.5s ease;
}

.rootOpen {
  animation: animOpen 0.5s ease forwards;
}

.rootClose {
  animation: animClose 0.5s ease forwards;
}

@keyframes animOpen {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animClose {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.modalOpen {
  animation: animZoomPlus 0.3s ease forwards;
}

.modalClose {
  animation: animZoomMinus 0.3s ease forwards;
}

@keyframes animZoomPlus {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animZoomMinus {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
