.section {
  position: relative;
}

.outputSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.productsList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* ------ Media Queries ------ */

/* 992-1200 */
@media screen and (max-width: 1200px) {


}

/* 576-768 */
@media screen and (max-width: 768px) {
  .outputSettings {
    flex-wrap: wrap;
    height: 60px;
  }

}

/* 320-576 */
@media screen and (max-width: 576px) {
  .outputSettings {
    height: min-content;
  }
}

