.outputSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.productsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  margin-top: 35px;
  margin-bottom: 35px;
}