@import "variables";
.section {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
  margin-bottom: 70px;

  .wrapBox {
    display: block;
    width: 45%;

    .title {
      font-size: 35px;
    }

    .description {
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px;
    }

    .ingredients {
      display: block;
      margin-top: 20px;
      font-size: 18px;
      list-style: symbols("-");

      .head {
        font-size: 24px;
        display: block;
      }
      .group {
        display: block;
        margin: 10px 0 5px 0;
      }
      li p{
        color: #7B7B7B;
        margin-left: 15px;
        line-height: 20px;
        font-size: 16px;
      }
    }
  }
}

.orangeSpan {
  color: $orange;
}