@import "src/styles/variables";
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: $orange;
  color: #fff;
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: $transitionAll;
  &:hover {
    background: #e8551d;
  }
}