@import "src/styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #F7F7F7;
}

.logo {
  display: flex;
  align-items: center;
  color: $black;
  cursor: pointer;

  img {
    display: block;
    width: 38px;
    height: 38px;
  }

  .logoWrapper {
    margin-left: 17px;
    .logoTitle {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 800;
    }
    .slogan {
      font-size: 16px;
      color: #7B7B7B;
    }
  }
}

/* 768-992 */
@media screen and (max-width: 992px) {
  .logo {
    margin-left: 12px;
    img {
      width: 34px;
      height: 34px;
    }

    .logoWrapper {
      margin-left: 12px;

      .logoTitle {
        font-size: 22px;
        line-height: 22px;
      }

      .slogan {
        font-size: 12px;
        color: #7B7B7B;
      }
    }
  }
}

/* 320-576 */
@media screen and (max-width: 576px) {
  .logo {
    margin-left: 9px;
    img {
      width: 34px;
      height: 34px;
    }
    .logoWrapper {

      .logoTitle {
        width: 70px;
        font-size: 22px;
        line-height: 22px;
      }

      .slogan {
        display: none;
      }
    }
  }
}
