@import "src/styles/variables";

.box {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);

  .icon {
    top: 11px;
    left: 8px;
    position: absolute;
    display: block;
    width: 21px;
    circle, line {
      stroke: #949494;
    }
    pointer-events: none;
  }

  .input {
    display: block;
    width: 300px;
    padding: 10px 30px 10px 32px;
    border: 2px solid #CBCBCB;
    border-radius: 8px;
    font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
    font-size: 16px;
    transition: $transitionAll;
    &:focus {
      border: 2px solid $orange;
    }
  }

  .clearBtn {
    position: absolute;
    top: 7px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    &:hover .figureLine {
      background: $orange;
    }
    .figureLine {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10.5px;
      margin-top: -2px;
      display: block;
      width: 20px;
      height: 2px;
      background: #7B7B7B;
      transition: $transitionAll;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}

/* 992-1200 */
@media screen and (max-width: 1200px) {
  .box {
    left: 60%;
    .input {
      width: 200px;
    }
  }

}

/* 768-992 */
@media screen and (max-width: 992px) {
  .box {
    top: -80px;
    left: 58%;
    .input {
      width: 180px;
      padding: 8px 25px 8px 25px;
      font-size: 14px;
    }
    .icon {
      top: 9px;
      left: 7px;
      width: 18px;
    }
    .clearBtn {
      top: 8px;
      width: 20px;
      height: 20px;
      .figureLine {
        width: 17px;
        margin-left: -7px;
        margin-top: 0;
      }
    }
  }
}

/* 576-768 */
@media screen and (max-width: 768px) {
  .box {
    top: 40px;
    left: 72%;
    .input {
      width: 255px;
    }
  }
}

/* 320-576 */
@media screen and (max-width: 576px) {
  .box {
    width: 100%;
    top: -10px;
    left: 50%;
    .input {
      width: 95%;
    }
    .clearBtn {
      right: 20px;
    }
  }
}

