@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.body {
    * {
        font-family: 'Manrope', sans-serif;
        color: #000;
    }
    padding: 0;
    margin: 0;
    background: #FDFDFD;
    line-height: 1em;

    .container {
        width: 720px;
    }

    .button {
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        background: #FB4824;
        padding: 15px 12px;
        margin-top: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .button:hover {
        background: #ff5e2d;
    }

    .description {
        position: relative;
        color: #000;
    }

    .description__content {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 700;
        padding: 35px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    }

    .description__info {
        display: flex;
        justify-content: space-between;
    }

    .description__money {
        display: flex;
        align-items: center;
        margin-top: 30px;
        justify-content: space-between;
    }

    .grey__text {
        color: #677482;
    }

    .description__price {
        display: flex;
        align-items: center;
        font-size: 42px;
        font-weight: 600;
    }

    .sumInput {
        display: flex;
        width: 100px;
        font-size: 42px;
        font-weight: 600;
        background: none;
        border: none;
    }

    .sumInput::-webkit-outer-spin-button,
    .sumInput::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    .rubSymbol {
        display: block;
        margin-left: 10px;
    }

    .description__additionally {
        font-size: 14px;
        font-weight: 400;
        margin-right: 150px;
    }

    .description__additionally a {
        color: #000;
        text-decoration: none;
    }

    .additionally__title {
        display: block;
        font-weight: 700;
    }

    .additionally__text {
        display: block;
        margin-top: 10px;
    }

    /*---------------------payment---------------------*/

    .payment {

    }

    .payment__title {
        font-size: 28px;
        margin-top: 40px;
    }

    .payment__form {
        padding: 32px;
    }

    .payment__systems {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .systems__title {
        font-size: 18px;
        font-weight: 700;
    }

    .systems__images {
        display: flex;
        align-items: center;
        width: 224px;
    }

    .payment__credentials {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 460px;

    }

    .credentials__wrap {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

    .credentials__wrap div:nth-child(1) {
        width: 55%;
    }

    .credentials__wrap div:nth-child(2) {
        width: 40%;
    }

    .input__box {
        display: block;
        position: relative;
    }

    .payment__input {
        position: relative;
        display: block;
        width: 100%;
        background: #EEF2F7;
        outline: none;
        padding: 22px 50px 22px 16px;
        border: 1px solid #EEF2F7;
        border-radius: 8px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .payment__input__label {
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        width: min-content;
        height: min-content;
        pointer-events: none;
    }



    .payment__text {
        font-weight: 400;
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 24px;
        color: #667483;
    }
}

/* 768-992 */
@media screen and (max-width: 992px) {
    .body {
        transform: scale(0.9) translateX(-20px);
        width: 680px;
    }
}

/* 576-768 */
@media screen and (max-width: 768px) {
    .body {
        transform: scale(0.7) translate(-120px, -100px);
        width: 470px;
        height: 400px;
    }
}

/* 320-576 */
@media screen and (max-width: 576px) {
    .body {
        transform: scale(0.4) translate(-241px, -181px);
        width: 240px;
        height: 246px;
    }
}

